@model IEnumerable<Mission06_LastName.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}

<h1>Movie List</h1>

<table>
    <thead>
        <tr> <!--this is a page that shows the info that's been entered in-->
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Category</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@(movie.Edited == true ? "Yes" : "No")</td>
                <td>@(string.IsNullOrEmpty(movie.LentTo) ? "N/A" : movie.LentTo)</td>
                <td>@(string.IsNullOrEmpty(movie.Notes) ? "N/A" : movie.Notes)</td>
            </tr>
        }
    </tbody>
</table>
